html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(255, 254, 253);
}

h1 {
  text-align: center;
  font-size: calc(75px + 6 * ((100vw - 320px) / 680));
  color: rgb(73, 58, 55);
  margin-top: 8%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(127, 177, 65);
  width: 85%;
  font-size: calc(46px + 6 * ((100vw - 320px) / 680));
  padding: 35px;
  color: rgb(255, 253, 249);
  border-radius: 9px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

#myFileInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(127, 177, 65);
  width: 85%;
  font-size: calc(46px + 6 * ((100vw - 320px) / 680));
  padding: 35px;
  color: rgb(255, 253, 249);
  border-radius: 9px;
}

option {
  font-size: 20px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 4%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(127, 177, 65);
  width: 65%;
  font-size: calc(46px + 6 * ((100vw - 320px) / 680));
  padding: 35px;
  color: rgb(255, 253, 249);
  border-radius: 9px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.plantInfo {
  background-color: rgb(210, 187, 160);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 94vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: rgb(73, 58, 55);
  font-size: calc(32px + 6 * ((100vw - 320px) / 680))
}

.mostRecentPlant {
  width: 93%;
  /* border-radius: 10px; */
}

.growthPeriod {
  margin-top: 15vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: calc(75px + 6 * ((100vw - 320px) / 680));
  margin-bottom: calc(40px + 6 * ((100vw - 320px) / 680));
  color: rgb(73, 58, 55)
}

.plantGrowthImages {
  width: 95%;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.imageTakenOnText-UpdateImageModal {
  font-size: 80px; 
}

.imageTakenOnInput-UpdateImageModal {
  height: 40px;
}

.close-UpdateImageModal {
  
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 45px;
    margin-top: 25px;
  }
  .plantSelectionButton {
    width: 55%;
    font-size: 40px;
    padding: 12px;
  }
  .iconContainer {
    height: 70vh;
  }
  .plantIcon {
    width: 300px;
  }
}